body {
    padding: 50px;
    background-color: #000000;
    color: #FFFFFF;
}


#main {
background: rgba(102, 102, 102, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin: 4rem 4rem 4rem 4rem;
padding: 4rem 4rem 4rem 4rem;
}

.inputs{
    justify-content: center;
}
.inputs .form-control {
    margin: 0 10px;
}

.inputs .form-group {
    display: inline flex;
    margin: 0 15px;
    align-items: flex-end;
}
.buttons .btn{
    margin: 0 15px;
}